@charset "utf-8";
/* 모바일 서식 */
@media screen and (max-width:767px) {

  header{}
  .header_inner{
    width:100%;
    height:70px;
    box-shadow:0px 0px 3px rgb(63, 63, 63);
    /* z-index:1000; 삭제 */
    /* position:fixed; */
    /* top:0px;left:0px; */
    background-color:#fff;
  }
  .header_inner > h1{
    width:140px;
    text-align:center;
    margin:0px auto;
    transform:translateY(5px);
  }
  .header_inner > h1 img{
    max-height:60px;
    padding-top:5px;
  }

/* 헤더영역 - 전체메뉴버튼, 검색버튼 */
  .total_btn, i.m_search{
    display:inline;
    position:absolute;
    font-size:1.876rem;
    padding:14px;
    top:6px;
  }
  .total_btn{left:10px;}
  i.m_search{right:10px;}

  /* 닫기버튼, 서브메뉴 아이콘 보이게 */
  i.fa-times, i.fa-angle-down{
    display:inline;
    color:#fff;
  }
  i.fa-times{
    position:absolute;
    right:10px;top:10px;
    font-size:1.876rem;
    padding:14px;
  }

  /* 내비게이션 서식 */
  .gnb{
    position:fixed;
    width:100%;height:100%;
    top:40px;
    left:-100%;
    background-color:rgba(0,0,0,.7);
    padding:50px 1.5% 0px 1.5%; /*추가*/
    box-sizing:border-box; /*추가*/
    z-index:500;
    transition:0.3s;
  }
  .gnb > h3{
    color:rgb(255, 242, 63);
    display:block;
    font-size:1.250rem; /* 20px */
    text-transform:uppercase;
    transform:translate(10px, 40px);
  }
  .gnb > ul{
    width:100%;
    padding-top:50px;
    /* position:relative;top:50px; */
    /* transform:translateY(50px); */
    display:block;
  }
  .gnb > ul > li{
    text-align:left;
    border-bottom:1px solid rgb(231, 231, 231);
  }
  .gnb > ul > li > a{
    color:#fff;
    display:block; /* 추가 */
    line-height:280%; /* 추가 */
    font-size:1rem; /* 추가 */
  }
  .gnb > ul > li > a:hover{color:none;} /*추가*/
  .gnb > ul > li > a::after{ /*추가*/
    background:none; /* 추가 */
  } /* 추가 */
  .gnb:hover{height:100%;} /*추가*/
  i.fa-angle-down{
    float:right;
    font-size:1.3rem;
    transform:translateY(10px);
  }
  .sub{display:none;}
  .sub a{color:#fff;}

  /* 상단 lnb메뉴(검색, 로그인, 회원가입.....) 서식 */
  .lnb{
    position:fixed;
    width:100%;
    top:380px;
    left:-100%;
    z-index:3000;
    transition:0.3s;
  }
  .lnb > ul{
    width:80%;display:block;
    margin:0px auto;
  }
  .lnb > ul > li{
    display:inline-block;
    width:49%;background-color:rgb(107, 107, 107);
    text-align:center;
    margin-bottom:5px;
  }
  .lnb > ul > li:first-child{display:none;}
  .lnb > ul > li > a{
    display:block;
    line-height:300%;
    text-transform:uppercase;
    color:#fff;
    border:none;
  }
/* 상단 검색양식 서식 */
  .lnb > ul > li:last-child input{
    position:absolute;top:-320px;left:26%;
    height:30px;
  }  
  .lnb > ul > li:last-child i.fa-search{
    position:absolute;top:-321px;left:70%;
    color:#fff;
    font-size:2rem;
  }
  /* small(320)화면일 때 서식 */
  @media screen and (max-width:320px) {
    .lnb > ul > li:last-child input{
      top:-328px;left:17%;
    }
    .lnb > ul > li:last-child i.fa-search{
      top:-328px;left:64%;
    }
  }
  /* small(360)화면일 때 서식 */
  @media screen and (max-width:360px) {
    .lnb > ul > li:last-child input{
      top:-328px;left:17%;
    }
    .lnb > ul > li:last-child i.fa-search{
      top:-328px;left:63%;
    }
  }

  /* 토글버튼을 클릭시 체크박스가 체크되면서 .gnb, .lnb의 위치가 0%되게하여 보이게한다. */
  #toggle:checked + header > .header_inner > .lnb{left:0%;}

  #toggle:checked + header > .gnb{left:0%;}


  /* 메인콘텐츠 서식 */
  main{}
  .slide{width:100%;}

  .pc_slide{display:none;}
  .m_slide{display:block;}

  .cont{
    width:100%;
    display:grid;
    box-sizing: border-box;
    /* grid-gap:1.9531%; */
    padding:0px 2.1484%;
    grid-template-columns: auto;
    grid-template-areas:
      "n_item"
      "c_b_story"
      "ad"
      "store"
      "notice"
      "news";
  }
  .cont img{
    width:100%; /* 자동으로 이미지크기 조절 */
    /* height:auto; */
  }
  .n_item{
    grid-area: n_item;
    text-align:center;
  }
  .n_item img{
    /* max-width:380px; */
  }
  .c_b_story{
    grid-area:c_b_story;
    width:100%;
    text-align:center;  
  }
  .c_b_story > .brand{
    max-width:320px;
    margin:0px auto;
    background-size:100%;
    background-repeat:no-repeat;
    height:135px;
  }
  .c_b_story img{
    /* max-width:380px; */
  }
  .ad{
    grid-area:ad;
    text-align:center;
  }
  .ad img{max-width:320px;}
  .notice{
    grid-area:notice;
  }
  .store{
    /* max-width:380px; */
    margin:0px auto;
    grid-area:store;
  }
  .store > a{
    max-width:320px;
    background-size:contain;
    background-repeat:no-repeat;
  }
  .news{
    grid-area:news;
  }

  article > ul > li{width:96%;}

  /* 푸터영역 서식 */
  footer{width:100%;}
  .f_lnb > ul{display:block;}
  .f_lnb > ul > li{
    display:inline;
    line-height:160%;
  }
  /* sns목록 */
  .sns{
    width:100%;
    text-align:center;
    top:70px;
  }
  address{
    padding-top:50px;
    text-align:center;
  }
  address > p{
    width:100%;
    clear:both;
    line-height:120%;
  }
}